@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-basement-black: #000000;
  --color-basement-white: #e6e6e6;
  --color-basement-orange: #ff4d00;
  --color-basement-grey: #666666;
  --color-basement-light-grey: #c4c4c4;
  --color-basement-dark-grey: #2e2e2e;

  /* Keep in sync with `motion.ts` for animations consistency */
  --ease-basement: cubic-bezier(0.65, 0, 0.35, 1);
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 250ms;
  --default-transition-duration: var(--transition-duration-normal);
  --default-transition-timing-function: var(--ease-basement);

  /* Glass border shadows */
  --shadow-glass-dark:
    inset 0 0 2px rgba(255, 255, 255, 0.16), inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 3px 15px 0 rgba(18, 18, 18, 0.05);
  --shadow-glass-light:
    inset 0 0 2px rgba(255, 255, 255, 0.9), inset 0 1px 1px rgba(255, 255, 255, 0.8),
    0 3px 15px 0 rgba(18, 18, 18, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-ring: var(--ring);
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}

:root {
  --background: var(--color-basement-black);
  --foreground: var(--color-basement-white);
  --accent: var(--color-basement-orange);
  --accent-foreground: var(--color-basement-black);
  --ring: var(--color-basement-orange);
}

/* Monotone black noise */
@utility bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.33 0.33 0.33 0 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background-size: 200px 200px;
}

/* Glass surfaces */
@utility glass-dark {
  background-color: --alpha(#3a3a3a / 25%);
  box-shadow: var(--shadow-glass-dark);
}

@utility glass-light {
  background-color: --alpha(#fff / 25%);
  box-shadow: var(--shadow-glass-light);
}

@utility typography-large-headline {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 2.5rem; /* 40 mobile */
  line-height: round(0.9em, 1px);
  letter-spacing: -0.04em;
  @variant lg {
    font-size: 4.75rem; /* 76 desktop */
  }
}

@utility typography-headline {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 1.5rem; /* 24 mobile */
  line-height: round(1.1em, 1px);
  letter-spacing: -0.03em;
  @variant lg {
    font-size: 2.375rem; /* 38 */
    line-height: round(0.95em, 1px);
    letter-spacing: -0.04em;
  }
}

@utility typography-title {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1.25rem; /* 20 mobile */
  line-height: round(1.1em, 1px);
  letter-spacing: -0.03em;
  @variant lg {
    font-size: 1.5rem; /* 24 */
  }
}

@utility typography-title-emphasized {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 1.5rem; /* 24 mobile and desktop */
  line-height: round(1.1em, 1px);
  letter-spacing: -0.03em;
}

@utility typography-body {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 0.875rem; /* 14 mobile */
  line-height: round(1.3em, 1px);
  letter-spacing: 0;
  @variant lg {
    font-size: 1rem; /* 16 */
  }
}

@utility typography-body-medium {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 0.875rem; /* 14 mobile */
  line-height: round(1.3em, 1px);
  letter-spacing: 0;
  @variant lg {
    font-size: 1rem; /* 16 */
  }
}

@utility typography-body-emphasized {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 0.875rem; /* 14 mobile */
  line-height: round(1.3em, 1px);
  letter-spacing: 0;
  @variant lg {
    font-size: 1rem; /* 16 */
  }
}

@utility typography-label {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 0.875rem; /* 14 */
  line-height: round(1.4em, 1px);
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@utility typography-caption {
  font-weight: 600;
  font-size: 0.8125rem; /* 13 */
  line-height: round(1em, 1px);
}

@layer base {
  * {
    @apply outline-ring/80;
  }
  body {
    @apply bg-background text-foreground selection:bg-basement-orange selection:text-basement-black;
  }
  html {
    @apply font-sans;
  }
  /* Accessibility settings */
  :focus-visible {
    @apply outline-ring outline-2 outline-offset-2;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      transition-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
  }
}
